.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(102,102,102),0 0.015em rgb(102,102,102),0.015em 0 rgb(102,102,102),0 -0.015em  rgb(102,102,102);}
.sc1{text-shadow:-0.015em 0 rgb(67,67,67),0 0.015em rgb(67,67,67),0.015em 0 rgb(67,67,67),0 -0.015em  rgb(67,67,67);}
.sc3{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(102,102,102);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(67,67,67);text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._44{margin-left:-1924.948202px;}
._7d{margin-left:-1883.458361px;}
._60{margin-left:-1876.297644px;}
._58{margin-left:-1874.225098px;}
._6e{margin-left:-1857.693323px;}
._29{margin-left:-1852.275854px;}
._11{margin-left:-1834.050407px;}
._4f{margin-left:-1816.152862px;}
._3c{margin-left:-1796.441906px;}
._54{margin-left:-1794.282774px;}
._4a{margin-left:-1791.635747px;}
._4{margin-left:-1781.512269px;}
._34{margin-left:-1734.501150px;}
._23{margin-left:-1701.307618px;}
._86{margin-left:-3.103999px;}
._1{margin-left:-1.167487px;}
._0{width:1.110350px;}
._3{width:5.084559px;}
._2{width:6.183091px;}
._5f{width:8.708461px;}
._3b{width:9.915535px;}
._5e{width:11.084480px;}
._2c{width:12.183105px;}
._10{width:15.000014px;}
._6c{width:16.539551px;}
._f{width:18.000000px;}
._57{width:21.000000px;}
._75{width:22.539551px;}
._1c{width:24.183105px;}
._6d{width:25.539551px;}
._15{width:27.183105px;}
._22{width:30.000021px;}
._7a{width:31.539551px;}
._21{width:32.999995px;}
._30{width:36.183105px;}
._7b{width:37.539551px;}
._3f{width:39.366211px;}
._61{width:40.539551px;}
._3a{width:42.366216px;}
._19{width:45.183105px;}
._74{width:46.539551px;}
._56{width:47.816894px;}
._5d{width:51.549296px;}
._32{width:54.183105px;}
._77{width:55.539551px;}
._c{width:60.183105px;}
._68{width:61.539551px;}
._43{width:62.999985px;}
._67{width:64.539551px;}
._42{width:66.000000px;}
._8{width:69.183105px;}
._e{width:72.183105px;}
._81{width:73.539551px;}
._1e{width:75.183105px;}
._79{width:76.539551px;}
._2b{width:78.183105px;}
._82{width:79.539551px;}
._1b{width:81.183105px;}
._7e{width:82.539551px;}
._37{width:84.183105px;}
._6f{width:85.539551px;}
._5c{width:87.183105px;}
._69{width:88.539551px;}
._14{width:90.183105px;}
._73{width:91.539551px;}
._1f{width:93.183105px;}
._2e{width:96.183105px;}
._4c{width:99.183105px;}
._71{width:100.539551px;}
._16{width:102.183105px;}
._6b{width:103.539551px;}
._d{width:105.183105px;}
._64{width:106.539551px;}
._38{width:108.366211px;}
._65{width:109.539551px;}
._17{width:111.183105px;}
._83{width:112.539551px;}
._53{width:114.183105px;}
._48{width:117.183105px;}
._4d{width:120.183105px;}
._20{width:123.183105px;}
._41{width:126.183105px;}
._84{width:127.539551px;}
._59{width:129.183105px;}
._36{width:132.183105px;}
._80{width:133.539551px;}
._5{width:135.183105px;}
._76{width:136.539551px;}
._33{width:138.183105px;}
._40{width:141.183105px;}
._70{width:142.539551px;}
._1d{width:144.183105px;}
._66{width:145.539551px;}
._78{width:148.539551px;}
._72{width:151.539551px;}
._5b{width:153.183105px;}
._7c{width:154.539551px;}
._26{width:156.183105px;}
._7f{width:157.539551px;}
._7{width:159.183105px;}
._2f{width:162.183105px;}
._2d{width:165.183105px;}
._63{width:166.539551px;}
._4e{width:168.000000px;}
._62{width:169.539551px;}
._39{width:171.183105px;}
._18{width:174.183105px;}
._4b{width:177.366211px;}
._85{width:178.539551px;}
._50{width:183.366211px;}
._13{width:186.183105px;}
._9{width:192.183105px;}
._3e{width:198.183105px;}
._1a{width:201.183105px;}
._49{width:207.183105px;}
._55{width:216.000000px;}
._6a{width:220.539551px;}
._12{width:222.183105px;}
._31{width:225.183105px;}
._24{width:228.183105px;}
._47{width:237.183105px;}
._27{width:243.183105px;}
._52{width:246.183105px;}
._28{width:249.183105px;}
._51{width:252.000000px;}
._b{width:261.183105px;}
._6{width:264.183105px;}
._2a{width:267.183105px;}
._3d{width:276.183105px;}
._45{width:282.183105px;}
._a{width:297.183105px;}
._46{width:306.183105px;}
._35{width:324.183105px;}
._5a{width:438.183105px;}
._25{width:579.183105px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(67,67,67);}
.fc0{color:rgb(102,102,102);}
.fs5{font-size:32.000001px;}
.fs4{font-size:33.000000px;}
.fs3{font-size:36.000000px;}
.fs2{font-size:39.000000px;}
.fs1{font-size:39.999999px;}
.fs0{font-size:45.000000px;}
.fs6{font-size:48.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:2.250000px;}
.y9{bottom:14.250000px;}
.y34{bottom:19.500000px;}
.y8{bottom:26.250000px;}
.y33{bottom:33.000000px;}
.y7{bottom:38.250000px;}
.y31{bottom:44.250000px;}
.y6{bottom:50.250000px;}
.y32{bottom:56.250000px;}
.y5{bottom:63.000000px;}
.y30{bottom:72.750000px;}
.y2f{bottom:89.250000px;}
.y2e{bottom:103.500000px;}
.y2d{bottom:118.500000px;}
.y2c{bottom:135.000000px;}
.y2b{bottom:151.500000px;}
.y2a{bottom:163.500000px;}
.y29{bottom:175.500000px;}
.y28{bottom:189.750000px;}
.y27{bottom:222.750000px;}
.y26{bottom:232.500000px;}
.y25{bottom:243.750000px;}
.y24{bottom:255.000000px;}
.y23{bottom:266.250000px;}
.y22{bottom:277.500000px;}
.y21{bottom:297.750000px;}
.y20{bottom:318.750000px;}
.y1f{bottom:330.750000px;}
.y1e{bottom:352.500000px;}
.y1d{bottom:364.500000px;}
.y1c{bottom:386.250000px;}
.y1b{bottom:398.250000px;}
.y1a{bottom:410.250000px;}
.y19{bottom:432.000000px;}
.y18{bottom:444.000000px;}
.y17{bottom:456.000000px;}
.y16{bottom:477.750000px;}
.y15{bottom:489.750000px;}
.y14{bottom:511.500000px;}
.y13{bottom:523.500000px;}
.y12{bottom:545.250000px;}
.y11{bottom:557.250000px;}
.y10{bottom:569.250000px;}
.yf{bottom:591.000000px;}
.ye{bottom:603.000000px;}
.yd{bottom:624.750000px;}
.yc{bottom:636.750000px;}
.yb{bottom:658.500000px;}
.ya{bottom:675.750000px;}
.y4{bottom:687.000000px;}
.y2{bottom:746.250000px;}
.y1{bottom:775.500000px;}
.h9{height:12.000000px;}
.h7{height:23.686523px;}
.ha{height:24.000000px;}
.h6{height:26.208984px;}
.h2{height:27.000000px;}
.h5{height:27.993164px;}
.h4{height:29.121093px;}
.h1{height:32.299805px;}
.h8{height:34.453125px;}
.h3{height:86.250000px;}
.h0{height:792.000000px;}
.w1{width:18.000000px;}
.w5{width:83.250000px;}
.w3{width:101.250000px;}
.w4{width:300.000000px;}
.w2{width:366.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:6.000000px;}
.x1{left:56.250000px;}
.x5{left:102.750000px;}
.x7{left:120.750000px;}
.x2{left:138.750000px;}
.x4{left:156.750000px;}
.x6{left:204.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._44{margin-left:-2566.597603pt;}
._7d{margin-left:-2511.277815pt;}
._60{margin-left:-2501.730191pt;}
._58{margin-left:-2498.966797pt;}
._6e{margin-left:-2476.924431pt;}
._29{margin-left:-2469.701139pt;}
._11{margin-left:-2445.400543pt;}
._4f{margin-left:-2421.537149pt;}
._3c{margin-left:-2395.255875pt;}
._54{margin-left:-2392.377032pt;}
._4a{margin-left:-2388.847663pt;}
._4{margin-left:-2375.349693pt;}
._34{margin-left:-2312.668200pt;}
._23{margin-left:-2268.410158pt;}
._86{margin-left:-4.138665pt;}
._1{margin-left:-1.556650pt;}
._0{width:1.480467pt;}
._3{width:6.779412pt;}
._2{width:8.244122pt;}
._5f{width:11.611282pt;}
._3b{width:13.220713pt;}
._5e{width:14.779306pt;}
._2c{width:16.244141pt;}
._10{width:20.000019pt;}
._6c{width:22.052734pt;}
._f{width:24.000000pt;}
._57{width:28.000001pt;}
._75{width:30.052734pt;}
._1c{width:32.244141pt;}
._6d{width:34.052734pt;}
._15{width:36.244141pt;}
._22{width:40.000027pt;}
._7a{width:42.052734pt;}
._21{width:43.999993pt;}
._30{width:48.244141pt;}
._7b{width:50.052734pt;}
._3f{width:52.488281pt;}
._61{width:54.052734pt;}
._3a{width:56.488288pt;}
._19{width:60.244141pt;}
._74{width:62.052734pt;}
._56{width:63.755859pt;}
._5d{width:68.732395pt;}
._32{width:72.244141pt;}
._77{width:74.052734pt;}
._c{width:80.244141pt;}
._68{width:82.052734pt;}
._43{width:83.999980pt;}
._67{width:86.052734pt;}
._42{width:88.000000pt;}
._8{width:92.244141pt;}
._e{width:96.244141pt;}
._81{width:98.052734pt;}
._1e{width:100.244141pt;}
._79{width:102.052734pt;}
._2b{width:104.244141pt;}
._82{width:106.052734pt;}
._1b{width:108.244141pt;}
._7e{width:110.052734pt;}
._37{width:112.244141pt;}
._6f{width:114.052734pt;}
._5c{width:116.244141pt;}
._69{width:118.052734pt;}
._14{width:120.244141pt;}
._73{width:122.052734pt;}
._1f{width:124.244141pt;}
._2e{width:128.244141pt;}
._4c{width:132.244141pt;}
._71{width:134.052734pt;}
._16{width:136.244141pt;}
._6b{width:138.052734pt;}
._d{width:140.244141pt;}
._64{width:142.052734pt;}
._38{width:144.488281pt;}
._65{width:146.052734pt;}
._17{width:148.244141pt;}
._83{width:150.052734pt;}
._53{width:152.244141pt;}
._48{width:156.244141pt;}
._4d{width:160.244140pt;}
._20{width:164.244141pt;}
._41{width:168.244141pt;}
._84{width:170.052734pt;}
._59{width:172.244141pt;}
._36{width:176.244141pt;}
._80{width:178.052734pt;}
._5{width:180.244141pt;}
._76{width:182.052734pt;}
._33{width:184.244141pt;}
._40{width:188.244141pt;}
._70{width:190.052734pt;}
._1d{width:192.244141pt;}
._66{width:194.052734pt;}
._78{width:198.052734pt;}
._72{width:202.052734pt;}
._5b{width:204.244141pt;}
._7c{width:206.052734pt;}
._26{width:208.244141pt;}
._7f{width:210.052734pt;}
._7{width:212.244141pt;}
._2f{width:216.244141pt;}
._2d{width:220.244141pt;}
._63{width:222.052734pt;}
._4e{width:224.000000pt;}
._62{width:226.052734pt;}
._39{width:228.244141pt;}
._18{width:232.244141pt;}
._4b{width:236.488281pt;}
._85{width:238.052734pt;}
._50{width:244.488281pt;}
._13{width:248.244141pt;}
._9{width:256.244141pt;}
._3e{width:264.244141pt;}
._1a{width:268.244141pt;}
._49{width:276.244141pt;}
._55{width:288.000000pt;}
._6a{width:294.052734pt;}
._12{width:296.244141pt;}
._31{width:300.244141pt;}
._24{width:304.244141pt;}
._47{width:316.244141pt;}
._27{width:324.244141pt;}
._52{width:328.244141pt;}
._28{width:332.244141pt;}
._51{width:336.000000pt;}
._b{width:348.244141pt;}
._6{width:352.244141pt;}
._2a{width:356.244141pt;}
._3d{width:368.244141pt;}
._45{width:376.244141pt;}
._a{width:396.244141pt;}
._46{width:408.244141pt;}
._35{width:432.244141pt;}
._5a{width:584.244141pt;}
._25{width:772.244141pt;}
.fs5{font-size:42.666668pt;}
.fs4{font-size:44.000000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:52.000000pt;}
.fs1{font-size:53.333332pt;}
.fs0{font-size:60.000000pt;}
.fs6{font-size:64.000000pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:3.000000pt;}
.y9{bottom:19.000000pt;}
.y34{bottom:26.000000pt;}
.y8{bottom:35.000000pt;}
.y33{bottom:44.000000pt;}
.y7{bottom:51.000000pt;}
.y31{bottom:59.000000pt;}
.y6{bottom:67.000000pt;}
.y32{bottom:75.000000pt;}
.y5{bottom:84.000000pt;}
.y30{bottom:97.000000pt;}
.y2f{bottom:119.000000pt;}
.y2e{bottom:138.000000pt;}
.y2d{bottom:158.000000pt;}
.y2c{bottom:180.000000pt;}
.y2b{bottom:202.000000pt;}
.y2a{bottom:218.000000pt;}
.y29{bottom:234.000000pt;}
.y28{bottom:253.000000pt;}
.y27{bottom:297.000000pt;}
.y26{bottom:310.000000pt;}
.y25{bottom:325.000000pt;}
.y24{bottom:340.000000pt;}
.y23{bottom:355.000000pt;}
.y22{bottom:370.000000pt;}
.y21{bottom:397.000000pt;}
.y20{bottom:425.000000pt;}
.y1f{bottom:441.000000pt;}
.y1e{bottom:470.000000pt;}
.y1d{bottom:486.000000pt;}
.y1c{bottom:515.000000pt;}
.y1b{bottom:531.000000pt;}
.y1a{bottom:547.000000pt;}
.y19{bottom:576.000000pt;}
.y18{bottom:592.000000pt;}
.y17{bottom:608.000000pt;}
.y16{bottom:637.000000pt;}
.y15{bottom:653.000000pt;}
.y14{bottom:682.000000pt;}
.y13{bottom:698.000000pt;}
.y12{bottom:727.000000pt;}
.y11{bottom:743.000000pt;}
.y10{bottom:759.000000pt;}
.yf{bottom:788.000000pt;}
.ye{bottom:804.000000pt;}
.yd{bottom:833.000000pt;}
.yc{bottom:849.000000pt;}
.yb{bottom:878.000000pt;}
.ya{bottom:901.000000pt;}
.y4{bottom:916.000000pt;}
.y2{bottom:995.000000pt;}
.y1{bottom:1034.000000pt;}
.h9{height:16.000000pt;}
.h7{height:31.582031pt;}
.ha{height:32.000000pt;}
.h6{height:34.945312pt;}
.h2{height:36.000000pt;}
.h5{height:37.324219pt;}
.h4{height:38.828124pt;}
.h1{height:43.066406pt;}
.h8{height:45.937500pt;}
.h3{height:115.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:24.000000pt;}
.w5{width:111.000000pt;}
.w3{width:135.000000pt;}
.w4{width:400.000000pt;}
.w2{width:488.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:8.000000pt;}
.x1{left:75.000000pt;}
.x5{left:137.000000pt;}
.x7{left:161.000000pt;}
.x2{left:185.000000pt;}
.x4{left:209.000000pt;}
.x6{left:272.000000pt;}
}
